<html>
	<head>
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'Post/baseTempCss.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Post/formTempCss.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'Post/addPostTempCss.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<script>
			$(document).ready(function(){
                $("#occSelect").change(function(){
                    console.log($('#occSelect').val())
                    if($('#occSelect').val()=='1')
                    {
                        $("#courseSelect").prop('disabled', true);
                    }
                    else if($('#occSelect').val()=='0')
                    {
                        $("#courseSelect").prop('disabled', false);
                    }
                });
			});
		</script>
	</head>
	
	<body>
		{% if request.session.user > 0 %}
            <div class="navBar">
                <a href="{% url 'profileApp:viewProfile' request.session.user %}" class="navItem">
				View Profile
                </a>
                <a href="{% url 'postApp:index' %}" class="navItem">
                    View Posts
                </a>
                <a href="{% url 'postApp:addPost' %}" class="navItem">
                    Add Posts
                </a>
                <a href="{% url 'postApp:home' %}" class="navItem">
                    Log out
                </a>
            </div>
        {% else %}
            <div class="navBar">
                <a href="{% url 'postApp:index' %}" class="navItem">
                    View Posts
                </a>
                <a href="{% url 'profileApp:signInPage' %}" class="navItem">
                    Sign-in
                </a>
                <a href="{% url 'profileApp:signup' %}" class="navItem">
                    Sign-up
                </a>
            </div>
        {% endif %}
	
		<div style="width: 100%;height:60px; background-color:white;"></div>
	
		<div class="main">
			<div class="mainDiv" style="margin-top:30px;width:500px;">
				<div class="mainHeadDiv">
					Add Post
				</div>
				<div class="mainFormDiv">
					<form action="{% url 'postApp:addingPost' %}" method="post">
				    {% csrf_token %}
                        <div class="mainFormInputDiv">
							Name:
							<input style="width:450px;height:32px;" type="text" name="itemName">
						</div>
						<div class="mainFormInputDiv" style="flex-direction:row; align-items:center;">
							Quantity:
							<input style="width:50px;height:30px;margin-right:130px;" type="number" min="1" default="1" name= "itemQuantity">
							Condition:
							<select style="height:30px;" name="itemCondition">
								<option value="0">0 - Worst</option>
								<option value="1">1 - Bad State</option>
								<option value="2">2 - Second Hand</option>
								<option value="3">3 - Good State</option>
								<option value="4">4 - No scratch</option>
								<option value="5">5 - Best</option>
							</select>
						</div>
						<div class="mainFormInputDiv"style="margin-top:20px;">
							Occupational Usage:
                            <select style="height:30px;"name="itemOccupation" id="occSelect">
                                <option value="0">Academic</option>
                                <option value="1">Office</option>
                            </select>
                            <div class="courseSelect">
                                Course:
                                <select name="selectingCourse" style="height:30px;margin:0;" id = "courseSelect">
                                    {% for x in courses %}
                                        <option value="{{ x.pk }}">{{ x.course_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
						</div>
                        <div class="mainFormInputDiv"style="margin-top:20px;">
							Upload Photo:
							<input type="file" name="pic" >
						</div>
						<div class="mainFormInputDiv"style="margin-top:20px;">
							Tags:
							<div class="listTagsDiv">
								<input style="width:200px;height:32px;" type="text" name="tag1">
                                <input style="width:200px;height:32px;" type="text" name="tag2">
                                <input style="width:200px;height:32px;" type="text" name="tag3">
                                <input style="width:200px;height:32px;" type="text" name="tag4">
                                <input style="width:200px;height:32px;" type="text" name="tag5">
							</div>
						</div>
                        <div class="mainFormInputDiv" style="width:100%;align-items:center;">
							<input style="width:100px;height:32px;font-size:15;padding-left:5px;" type="submit" name="name">
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>