<html>
	<head>
		<link rel="stylesheet" type="text/css" href="baseTempCss.css">
		<link rel="stylesheet" type="text/css" href="profTempCss.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		{% if request.session.user > 0 %}
            <div class="navBar">
                <a href="{% url 'profileApp:viewProfile' request.session.user %}" class="navItem">
				View Profile
                </a>
                <a href="{% url 'postApp:index' %}" class="navItem">
                    View Posts
                </a>
                <a href="{% url 'postApp:addPost' %}" class="navItem">
                    Add Posts
                </a>
                <a href="{% url 'postApp:home' %}" class="navItem">
                    Log out
                </a>
            </div>
        {% else %}
            <div class="navBar">
                <a href="{% url 'postApp:index' %}" class="navItem">
                    View Posts
                </a>
                <a href="{% url 'profileApp:signInPage' %}" class="navItem">
                    Sign-in
                </a>
                <a href="{% url 'profileApp:signUp' %}" class="navItem">
                    Sign-up
                </a>
            </div>
        {% endif %}
	
		<div style="width: 100%;height:60px; background-color:white;"></div>
		
		<div class="main">				
			<div class="userProfDiv">
				<img src="DP.jpg" style="width:100px;margin-bottom:20px;">
				<div class="userDet">
					<div class="userNames">
						Name:<a href="" class="name">Benitoper Nared Huang</a>
						Username:<a href="" class="name">benitoper_nared530</a>
					</div>
					<div class="userOcc">
						Occupation:<a href="" class="name">CS-CSE</a>
					</div>
				</div>
			</div>
			<div class="mainDiv">
				<div style="width: 100%;height:200px; background-color:white;"></div>
				<div class="reultsDiv">
					<ul class="resultsList">
						<li>
							<div class="itemCard">
								<div class="itemCardImg">
									<img src="laptop.png" style="width:100%;height:200px;">
								</div>
								<div class="itemCardName">
									<a href="" style="text-decoration: none; color:white;">Acer Laptop</a>
								</div>	
								<div class="itemCardDet">
									<div class="itemCardDetUser">
										From: <a href="" class="itemDetlinks">benitoper_nared530</a>
									</div>
									<div class="itemCardDetTags">
										Tags: 
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="itemCard">
								<div class="itemCardImg">
									<img src="laptop.png" style="width:100%;height:200px;">
								</div>
								<div class="itemCardName">
									<a href="" style="text-decoration: none; color:white;">Acer Laptop</a>
								</div>	
								<div class="itemCardDet">
									<div class="itemCardDetUser">
										From: <a href="" class="itemDetlinks">benitoper_nared530</a>
									</div>
									<div class="itemCardDetTags">
										Tags: 
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="itemCard">
								<div class="itemCardImg">
									<img src="laptop.png" style="width:100%;height:200px;">
								</div>
								<div class="itemCardName">
									<a href="" style="text-decoration: none; color:white;">Acer Laptop</a>
								</div>	
								<div class="itemCardDet">
									<div class="itemCardDetUser">
										From: <a href="" class="itemDetlinks">benitoper_nared530</a>
									</div>
									<div class="itemCardDetTags">
										Tags: 
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="itemCard">
								<div class="itemCardImg">
									<img src="laptop.png" style="width:100%;height:200px;">
								</div>
								<div class="itemCardName">
									<a href="" style="text-decoration: none; color:white;">Acer Laptop</a>
								</div>	
								<div class="itemCardDet">
									<div class="itemCardDetUser">
										From: <a href="" class="itemDetlinks">benitoper_nared530</a>
									</div>
									<div class="itemCardDetTags">
										Tags: 
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
										<a href="" class="itemDetlinks">hello</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="seeMoreDiv">
					<a href="">See All</a>
				</div>
			</div>
		</div>
	</body>
</html>