<html>
	<head>
		<link rel="stylesheet" type="text/css" href="baseTempCss.css">
		<link rel="stylesheet" type="text/css" href="formTempCss.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		<div class="navBar">
			<a href="" class="navItem">
				View Posts
			</a>
			<a href="" class="navItem">
				Sign-in
			</a>
			<a href="" class="navItem">
				Sign-up
			</a>
		</div>
	
		<div style="width: 100%;height:60px; background-color:white;"></div>
	
		<div class="main">
			<div class="mainDiv" style="margin-top:30px;width:500px;align-items:center;">
				<div class="mainHeadDiv">
					Sign-in
				</div>
				<div class="mainFormDiv">
					<form action="{% url 'postApp:signIn' %}" method="post">
                        {% csrf_token %}
						<div class="mainFormInputDiv">
							Username:
							<input style="width:450px;height:32px;" type="text" name="userName">
						</div>
						<div class="mainFormInputDiv">
							Password:
							<input style="width:450px;height:32px;font-size:15;padding-left:5px;" type="password" name="userPassword">
						</div>
						<div class="mainFormInputDiv" style="width:100%;align-items:center;">
							<input style="width:100px;height:32px;font-size:15;padding-left:5px;" type="submit" name="name">
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>